<%-include('navbar')-%>

<div class="information">

    <div class="name">
        <h2>
            <%= data.name %>
        </h2>
    </div>


    <div class="adress">
        <h2>
            <%= data.adress %>
        </h2>
    </div>
    <div class="type">
        <h2>
            <%= data.type %>
        </h2>
    </div>
    <div class="budget">
        <h2>
            <%= data.budget %>
        </h2>
    </div>
    <div class="duration">
        <h2>
            <%= data.duration %> seconde
        </h2>
    </div>

    <div class="distance">
        <h2>
            <%= data.distance %> metres</h2>
        <div>
        </div>
    </div>



    <h3>
        <ul>
            <%data.comments.forEach(function(item,index){ %>
                <li>
                    <%= item.comment_content %>
                </li>
            <% }) %>
        </ul>
    </h3>


    <div class="container">
        <div class="forms">
            <div class="form login">
                <form action="/comment" method="post">
                    <input type="text" name="comment" id="comment">
                    <input type="checkbox" name="like" id="like">
                    <input type="submit" value="commenter">
                </form>
            </div>
        </div>
    </div>

</div>

    </body>

    </html>